.env
.env.*
!.env.example
!.env.dev
!.env.uat
!.env.prod
!.env.ci

/node_modules
/vendor
/storage/*.key
/public/storage
/.idea
/.vscode
.DS_Store
Homestead.json
Homestead.yaml
.env.backup
.phpunit.result.cache